<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Результат</title>
    <link rel="stylesheet" href="/static/css/natal_result.css">
    <meta http-equiv="Cache-Control" content="max-age=13600">
    <meta http-equiv="Expires" content="Sun, 01 Jan 2026 00:00:00 GMT">
</head>
<body>

    <div class="header">
        <div class="arrow">
            <img class="left-arrow" src="/static/img/arrow-left.svg" onclick="window.history.back()">
        </div>
        <p class="header_text">%v</p>
    </div>
    <img class="planet_aspect_logo" alt="space" src="/static/img/space.png">
    <div class="aspect_page_round">
        <div class="planets_detailed_page detailed_page">
            <div class="main_block main_block_children">
                <div class="block_header_text">
                    %v
                </div>
                <div class="block_text">
                    %v</div>
            </div>
            %v

        </div>
    </div>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(96572696, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/96572696" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>