<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Результат</title>
    <link rel="stylesheet" href="/static/css/natal_result.css">
</head>
<body>

    <div class="karma_data_page" id="karma_data_page">
        <div class="header">
            <img class="left-arrow" src="/static/img/arrow-left.svg"  onclick="window.history.back()">
            <p class="header_text">Кармические показатели</p>
        </div>
        <div class="karma_data_page_content">
            <div class="karma_data_block">
                <img class="karma_logo" src="/static/img/karma-logo.svg">
                <p class="karma_page_text"> Кармические показатели помогают человеку, осознать глубинные проблемы, уходящие корнями в прошлые жизни. И начать работать над собой, чтобы избавиться от них и тем улучшить эту жизнь и потенциальную следующую. Под кармическими проблемами стоит подразумевать не наказание за проступки и грехи, как обычно толкуют карму в обывательском смысле. Карма не возмездие, а скорее инерция, когда человек из жизни в жизнь притягивает к себе похожие ситуации. С кармической точки зрения можно толковать все без исключения элементы натальной карты. Но наиболее важными показателями кармы в гороскопе являются ретроградные планеты (если есть) и Лунные узлы.
                </p>
            </div>

            <div class="main_block main_block_children">
                <div class="block_header_text">
                    Ретроградные планеты
                </div>
                <div class="block_text">
                    Ретроградные планеты всегда связаны с обращением к прошлому. Чем больше их у человека в гороскопе, тем сильнее его связь с прошлым. Ретроградная планета указывает также на не решенную в прошлой жизни задачу, не завершенное дело, не реализованные способности. И вынуждает человека снова взяться за то, что не удалось в прошлом. Условное обозначение в таблице - R.
                </div>
            </div>
        </div>
    </div>
</body>
</html>