<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Результат</title>
    <link rel="stylesheet" href="/static/css/natal_result.css">
    <link rel="stylesheet" href="/static/css/tables.css">
</head>
<body>

    <div class="header">
        <div class="arrow">
            <img class="left-arrow" src="/static/img/arrow-left.svg" onclick="window.history.back()">
        </div>
        <p class="header_text">%v</p>
    </div>
    <div class="planets_coordinates_page main_screen" id="planets_coordinates_page">
            <div class="planets_coordinates_page_content">
                <img class="moon_image" src="/static/img/%v.png">
                <div class="main_block">
                    <div class="block_text">
                        %v
                    </div>
                </div>
                <div class="main_block">
                    <div class="block_text">
                        <p class="block_header_text">%v</p>
                        %v
                    </div>
                </div>
            </div>
    </div>

</body>
</html>