<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Результат</title>
    <link rel="stylesheet" href="/static/css/natal_result.css">
</head>
<body>

    <div class="header">
        <div class="arrow">
            <img class="left-arrow" src="/static/img/arrow-left.svg" onclick="window.history.back()">
        </div>
        <p class="header_text">%v</p>
    </div>
    <div class="planets_detailed_page detailed_page">
        <div class="main_block">
            <div class="planets_aspects_block">
                <img class="aspect_logo" alt="%v" src="/static/img/%v.png">
                    <div class="aspect_badge_right_part">
                        <p class="aspect_name">%v</p>
                            <div class="aspect_desc">
                                <p class="aspect_power_text">Сила:</p>
                                <p class="aspect_power_text colored_text">%v</p>
                             </div>
                    <div class="aspect_desc">
                        <p class="aspect_power_text">Гармония:</p>
                        <p class="aspect_power_text colored_text">%v</p>
                    </div>
                </div>
<!--                <img class="right-arrow" src="/static/img/arrow-right.svg">-->
            </div>
        </div>
        <div class="main_block main_block_children">
            <div class="block_text">
                %v</div>
        </div>
        %v
        <div class="main_block main_block_children">
            <div class="block_header_text">
                Аспекты
            </div>
            <div class="block_text">
                %v
            </div>
            %v
        </div>
    </div>
    <script src="/static/js/colored_text.js" defer></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(96572696, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/96572696" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>