<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Результат</title>
    <link rel="stylesheet" href="/static/css/natal_result.css">
    <meta http-equiv="Cache-Control" content="max-age=13600">
    <meta http-equiv="Expires" content="Sun, 01 Jan 2026 00:00:00 GMT">
</head>
<body>

    <div class="header">
        <div class="arrow">
            <img class="left-arrow" src="/static/img/arrow-left.svg" onclick="window.history.back()">
        </div>
        <p class="header_text">%v</p>
    </div>
    <img class="planet_aspect_logo" alt="space" src="/static/img/space.png">
    <div class="aspect_page_round">
        <div class="planets_detailed_page detailed_page">
            <div class="main_block main_block_children">
                <div class="block_header_text">
                    %v
                </div>
                <div class="block_text">
                    %v</div>
            </div>
            %v

        </div>
    </div>
</body>
</html>